@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Livvic:wght@700&family=Montserrat&display=swap');

/* ----------------------Colours */

.bg-body {
background-color: #000;
}

a {
    color:#5CE1E6;
}

.bg-color-navigation {
    margin: 0;
    background-color: #000;
    min-height: 140px;
    font-size: 30px;
}

.bg-color-prompt {
    background-color: #000;
}


.bg-faq-start {
    background: url(../images/FAQBan.svg);
    background-repeat: repeat-x;
    background-position: center;
    width: 100%;
    opacity: 1.0;
   }

.secret-bg {
    background-color: #000;
}

.bg-strip {
    background-color: #5CE1E6;
    height: 20px;
    max-width: 100%;
    margin-top: 0px;
    opacity: 0.5;
   }
   

/* ----------------------Navigation */
.menuitem {
    color: #5CE1E6;
    text-align: center;
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.menuitem a:hover {
    text-decoration: none;
    color: #fff;
}

.menuitem a:visited {
    text-decoration: none;
    color: #5CE1E6;
}

.menuitem a:active {
color: #5CE1E6;
}

.contact a {
    font-family: "League Spartan", sans-serif;
    font-size: 30px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    color: #5CE1E6;
}

.contact a:hover {
    text-decoration: none;
    color: #fff;
}

.contact a:visited {
    text-decoration: none;
    color: #5CE1E6;
}

.contact a:active {
color: #5CE1E6;
}

/* ---------------------- Partner Page */

.op-bg {
    background: url(../images/OP-BG.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.partner-heading {
    font-family: "League Spartan", sans-serif;
    margin-top: 30px;
    text-align: center;
    color: #5CE1E6;
    margin-left: 25%;
    position: relative;
}

.partner-desc {
    font-family: "Montserrat", sans-serif;
    color: grey;
    text-align: center;
}

.partner-heading-2 {
    font-family: "League Spartan", sans-serif;
    color: #fff;
    margin-top: 20px;
}

.partner-icon {
    color: #fff;
}

.partner-logo {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
    text-align: center;
    object-fit: cover;
    box-sizing: content-box;
}


.region-heading {
    padding-top: 40px;
    margin-bottom: 10px;
    color: #fff;
    font-family: "League Spartan", sans-serif;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: var(--boxshadow);
    margin-left: 25%;
    max-width: 50%;
}

h5 {
    font-size: 30px;
}

/* ----------------------General */

.hand-img {
    margin-top: 40px;
    height: 400px;
    width: 400px;
}

.section-heading {
    font-size: 50px;
    font-family: "League Spartan", sans-serif;
    max-width: 600px;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #fff;
}

.section-heading-2 {
    font-size: 50px;
    font-family: "League Spartan", sans-serif;
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 0px;
    color: #fff;
    opacity: 1.0;
}

.section-description {
    font-size: 20px;
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    color: #5CE1E6;
}

.section-area {
    margin-top: 60px;
    margin-bottom: 100px;
}

.app-heading {
    font-size: 40px;
    color: #fff;
    font-family: "League Spartan", sans-serif;
}

.app-img {
    position: relative;
} 

.signup-banner {
    margin: 10px auto;
    position: relative;
    width: 100%;
}


button[type="button"] {
    background-color:#E26FA3;
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-radius: 15px;
    float: right;
    margin-top: 50px;
    margin-left: 10px;
    }

button[type="button"]:hover {
    color:#5CE1E6;
    background-color: #6c757d;;
    }
/* ----------------------FAQ-section */

.questions {
    color: #E26FA3;
    font-family: 'Livvic', sans-serif;
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: 700;
}

.answers {
    color: #5CE1E6;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
    font-weight: 400;
}

.faq-icon {
    font-size: 20px;
    color: #fff;
    margin-top: 60px;
    padding-right: 0px;
}


/* ----------------------Heading */

header {
    background-color: #000;
}

.logo {
    background: url(../images/Technologi\ GoDaddy\ Store\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 140px;
    max-width: 320px;
}

.menuitem {
font-family: "League Spartan", sans-serif;
font-weight: 600;
font-size: 20px;
width: 300px;
margin-top: 50px;

}

/* ----------------------App Section */

.bg-double {
height: 100px;
background-color: fff;
border: 5px solid fff;
border-radius: 15px;
z-index: 1;
width: 60%
}

.apple{
z-index: 3;
}

.goog {
z-index: 3;
}

.phone {
z-index: 4;
}
/* ----------------------Footer */

footer {
    background-color: #000;
    color: #5CE1E6;
    min-height: 50px;
    margin-bottom: 0;
}

span {
    margin: 0;
}

.social i {
    font-size: 30px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    color: #5CE1E6;
    margin: 0;
}

.social i:hover {
    text-decoration: none;
    color: #fff;
}

.social i:visited {
    text-decoration: none;
    color: #5CE1E6;
}

.social i:active {
color: #5CE1E6;
}

#footer-details {
    padding: 20px;
}

/* ----------------------------------------Form 1 */

.get-kae-heading {
    font-family: "League Spartan", sans-serif;
    color: #5CE1E6;
    font-weight: 600;
    font-size: 40px;
    width: 300px;
    margin: 50px auto;
   }

   #signup {
    font-family: "League Spartan", sans-serif;
    color: #5CE1E6;
    font-weight: 600;
    font-size: 30px;
    width: 300px;
    margin: 10px auto;
   }

   label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: pink;
    font-size: 20px;
    font-weight: 600;
    font-family: 'League Spartan';
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
   }

  option .classic {
    font-size: 12px;
    background-color: 000;
  }

  option .barbie {
    font-size: 12px;
    background-color:#E26FA3;
  }

  option .evergreen {
    font-size: 12px;
    background-color: #B8DDB8;
  }
   
   button[type="submit"] {
    background-color:#E26FA3;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 20px;
    }

    button[type="submit"]:hover {
        color:#5CE1E6;
    }

    .zoom {
        position: relative;
        padding: 10px;
        transition: transform .2s; /* Animation */
        width: 300px;
        height: 200px;
        margin: 0 auto;
      }
      
      .zoom:hover {
        transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }

      .cards-selection img {
        left:0;
        }

    .center-form {
        padding-top: 10px;
        margin: 0 auto;
        max-width: 90%;
    }                                

    .contact-headings {
        color: #E26FA3;
    font-family: "League Spartan", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    }

    textarea {
    margin-bottom: 40px;
    }

    .kae-map {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 40px;
        max-width: 100%;
    }

    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    
    }
    
    .map-responsive iframe{
        left:0;
        height:75%;
        width:100%;
        position:absolute;
    
    }
/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 50px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}
